# This is an example env file for the project.

DB_USER=baghira_wp
DB_PASSWORD=change_me
DB_NAME=baghira_wp
DB_ROOT_PASSWORD=change_me
DB_HOST=db
DB_CHARSET=utf8
VIRTUAL_HOST=preview.baghira-tribal.de

AUTH_KEY=this_is_a_weak_key_change_it
SECURE_AUTH_KEY=this_is_a_weak_key_change_it
LOGGED_IN_KEY=this_is_a_weak_key_change_it
NONCE_KEY=this_is_a_weak_key_change_it
AUTH_SALT=this_is_a_weak_salt_change_it
SECURE_AUTH_SALT=this_is_a_weak_salt_change_it
LOGGED_IN_SALT=this_is_a_weak_salt_change_it
NONCE_SALT=this_is_a_weak_salt_change_it
